.title{
    font-family: var(--font-family-body);
    font-size: 350%;
    color: white;
    -webkit-text-stroke: 1px #ffa3a3;
    text-shadow: rgba(0, 0, 0, 0.2) -2px 2px 10px;
    margin: 25px 150px ;
}
.title-info{
  font-family: var(--font-family-body);
  font-size: 200%;
  margin: 20px;
  -webkit-text-stroke: 1px #ffa3a3;
  color: #ffa2a2;
    text-shadow: rgba(0, 0, 0, 0.2) -2px 2px 10px;
}
.paragraph{
  font-family: var(--font-family-body);
  font-size: 100%;
  
}
